
Clinic list

<% @clinics.each do |clinic| %>
<div>
  <ul class="list-unstyled">
    <li><%= clinic.name %></li>
    <% clinic.exams.each do |exam| %>
      <%= exam.price %>
    <% end %>
  </ul>
<% end %>
</div>
