<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.full_name %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p style="color: #000000"><%= message.content %></p>
</div>
