<%=  %>
<div class="container my-3">
  <div class="row">
    <div class="col-3">
      <div class="card dashboard-card dc-side">
      <h1> Her space </h1>
      <div>
  <link href="./task-cards.css" rel="stylesheet" />
  <div>
    <div class="task-cards-task-cards">
      <div class="task-cards-color-indicator"></div>
      <div class="task-cards-content">
        <div class="task-cards-text">
          <span class="task-cards-text1 ParagraphSmall">
            <span>Your result is avaible</span>
          </span>
          <span class="task-cards-text3 HeadingH4"><span>MRI</span></span>
          <span class="task-cards-text5 ParagraphSmallBold">
            <span>From Hoxton Hospital</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <link href="./task-cards.css" rel="stylesheet" />
  <div>
    <div class="task-cards-task-cards">
      <div class="task-cards-color-indicator"></div>
      <div class="task-cards-content">
        <div class="task-cards-text">
          <span class="task-cards-text1 ParagraphSmall">
            <span>Your result is avaible</span>
          </span>
          <span class="task-cards-text3 HeadingH4"><span>MRI</span></span>
          <span class="task-cards-text5 ParagraphSmallBold">
            <span>From Hoxton Hospital</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <link href="./task-cards.css" rel="stylesheet" />
  <div>
    <div class="task-cards-task-cards2">
      <div class="task-cards-color-indicator2"></div>
      <div class="task-cards-content2">
        <div class="task-cards-text2">
          <span class="task-cards-text1 ParagraphSmall2">
            <span>Your result is avaible</span>
          </span>
          <span class="task-cards-text3 HeadingH42"><span>MRI</span></span>
          <span class="task-cards-text5 ParagraphSmallBold2">
            <span>From Hoxton Hospital</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <link href="./task-cards.css" rel="stylesheet" />
  <div>
    <div class="task-cards-task-cards2">
      <div class="task-cards-color-indicator2"></div>
      <div class="task-cards-content2">
        <div class="task-cards-text2">
          <span class="task-cards-text1 ParagraphSmall2">
            <span>Payment approval</span>
          </span>
          <span class="task-cards-text3 HeadingH42">SCAN</span>
          <span class="task-cards-text4 ParagraphSmallBold2">
            <span>From Hoxton Hospital</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <link href="./task-cards.css" rel="stylesheet" />
  <div>
    <div class="task-cards-task-cards2">
      <div class="task-cards-color-indicator2"></div>
      <div class="task-cards-content2">
        <div class="task-cards-text2">
          <span class="task-cards-text1 ParagraphSmall2">
            <span>Payment approval</span>
          </span>
          <span class="task-cards-text3 HeadingH42">SCAN</span>
          <span class="task-cards-text4 ParagraphSmallBold2">
            <span>From Hoxton Hospital</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <link href="./task-cards.css" rel="stylesheet" />
  <div>
    <div class="task-cards-task-cards2">
      <div class="task-cards-color-indicator2"></div>
      <div class="task-cards-content2">
        <div class="task-cards-text2">
          <span class="task-cards-text1 ParagraphSmall2">
            <span>Payment approval</span>
          </span>
          <span class="task-cards-text3 HeadingH42">SCAN</span>
          <span class="task-cards-text4 ParagraphSmallBold2">
            <span>From Hoxton Hospital</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>

    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card dashboard-card my-profile">
          <h1> My profile </h1>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="card dashboard-card">
          </div>
        </div>
        <div class="col-6">
          <div class="card dashboard-card">
          </div>
        </div>
        <div class="col-6">
          <div class="card dashboard-card">
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card dashboard-card dc-side2">
      <h2> Bookings </h2>
<div>
  <link href="./e-x-a-m.css" rel="stylesheet" />
  <div>
    <div class="e-x-a-m-e-x-a-m">
      <div class="e-x-a-m-examcolor"></div>
      <div class="e-x-a-m-contentcolor">
        <div class="e-x-a-m-texttt">
          <span class="e-x-a-m-text ParagraphSmall"><span>Exam</span></span>
          <span class="e-x-a-m-text2 HeadingH4"><span>Finish</span></span>
          <span class="e-x-a-m-text4 ParagraphSmallBold">
            <span>10:00 am -12:00 am</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div><div>
  <link href="./e-x-a-m.css" rel="stylesheet" />
  <div>
    <div class="e-x-a-m-e-x-a-m">
      <div class="e-x-a-m-examcolor"></div>
      <div class="e-x-a-m-contentcolor">
        <div class="e-x-a-m-texttt">
          <span class="e-x-a-m-text ParagraphSmall"><span>Exam</span></span>
          <span class="e-x-a-m-text2 HeadingH4"><span>Finish</span></span>
          <span class="e-x-a-m-text4 ParagraphSmallBold">
            <span>10:00 am -12:00 am</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div><div>
  <link href="./e-x-a-m.css" rel="stylesheet" />
  <div>
    <div class="e-x-a-m-e-x-a-m">
      <div class="e-x-a-m-examcolor"></div>
      <div class="e-x-a-m-contentcolor">
        <div class="e-x-a-m-texttt">
          <span class="e-x-a-m-text ParagraphSmall"><span>Exam</span></span>
          <span class="e-x-a-m-text2 HeadingH4"><span>Finish</span></span>
          <span class="e-x-a-m-text4 ParagraphSmallBold">
            <span>10:00 am -12:00 am</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div><div>
  <link href="./e-x-a-m.css" rel="stylesheet" />
  <div>
    <div class="e-x-a-m-e-x-a-m">
      <div class="e-x-a-m-examcolor"></div>
      <div class="e-x-a-m-contentcolor">
        <div class="e-x-a-m-texttt">
          <span class="e-x-a-m-text ParagraphSmall"><span>Exam</span></span>
          <span class="e-x-a-m-text2 HeadingH4"><span>Finish</span></span>
          <span class="e-x-a-m-text4 ParagraphSmallBold">
            <span>10:00 am -12:00 am</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div><div>
  <link href="./e-x-a-m.css" rel="stylesheet" />
  <div>
    <div class="e-x-a-m-e-x-a-m">
      <div class="e-x-a-m-examcolor"></div>
      <div class="e-x-a-m-contentcolor">
        <div class="e-x-a-m-texttt">
          <span class="e-x-a-m-text ParagraphSmall"><span>Exam</span></span>
          <span class="e-x-a-m-text2 HeadingH4"><span>Finish</span></span>
          <span class="e-x-a-m-text4 ParagraphSmallBold">
            <span>10:00 am -12:00 am</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<link href="./e-x-a-m.css" rel="stylesheet" />
  <div>
    <div class="e-x-a-m-e-x-a-m">
      <div class="e-x-a-m-examcolor"></div>
      <div class="e-x-a-m-contentcolor">
        <div class="e-x-a-m-texttt">
          <span class="e-x-a-m-text ParagraphSmall"><span>Exam</span></span>
          <span class="e-x-a-m-text2 HeadingH4"><span>Finish</span></span>
          <span class="e-x-a-m-text4 ParagraphSmallBold">
            <span>10:00 am -12:00 am</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
