
<div class="result-container">
  <h1 class="result-heading"><strong>Your Results</strong></h1>
    <% @results.each do |result| %>
  <div class="result-card">
      <h6><strong>Details: <%= result.details %> </h6><br>
      <h6><strong>Results Document: </h6><br>
      <% if result.documents.attached? %>
        <% result.documents.each do |document| %>
          <%= image_tag document %>
          <% if document.previewable? %>
            <li height="100" width="100"><%= image_tag(document.preview(resize: '20x20')) %></li>
          <% end %>
        <% end %>
  </div>
      <% end %>
    <% end %>

</div>
