.container-chatroom {
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  padding: 20px;
  margin: 0 auto;
  height: 730px;
  width: 1390px;
  justify-items: center;
  overflow: auto;
}

.container-messages {
  background-color: transparent;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 9px;
  padding-top: 20px;
  margin: 0 auto;
  height: 60px;
  width: 1390px;
  justify-items: center;
}

.chatroom-btn {
  text-decoration: none;
  font-family: 'Syne';
  width: 260px;
  height: 43px;
  // position: relative;
  background:#EC656E;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
}

.chatroom-btn:hover {
  background: #5354F2;
  color: white;
}

.messages-input {

}

.chat-heading {
  text-align: center;
}
