.clinics-container{
  background-repeat: repeat;
}

.clinics-card {
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  padding: 20px;
  margin: 15px;
  height: 850px;
  width: 485px;
}

.clinics-title {
  text-align: center;
  font-size: 50px;
}

.clinic-info {
  padding-top: 30px;
  padding-right: 16px;
  padding-left: 35px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.clinic-pricing {
  position: absolute;
  right: 16px;
  top: 22px;
  width: 80px;
}
