.confirmed-cards-container {
  display:flex;
  justify-content: space-evenly;

  .row-cards-confirmation{
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  .confirmed-heading {
    color: #EC656E;
    font-weight: bold;
    font-family: 'Syne';
  }

  .confirmed-subtitle {
    color: #06065c;
    margin-bottom: 36px;
    text-align: center;
  }

  .confirmed-card {
    font-family: 'Syne';
    box-sizing: border-box;
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 9px;
    padding: 20px;
    margin: 15px;
    width: 669px;
  }

  .confirmed-btn {
    text-decoration: none;
    font-family: 'Syne';
    width: 280px;
    // position: relative;
    background:#EC656E;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
  }

  .confirmed-btn:hover {
    background: #5354F2;
    color: white;
  }

  .fa-brands {
    color: #5354F2;
  }
  .fa-solid {
    color: #5354F2;
  }
  .fa-regular {
    color: #5354F2;
  }
  .fa-credit-card {
    color: #5354F2;
  }
}
