#dashboard-header {
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0 auto;
}

.container-dashboard {
  display: flex;
  justify-content: center;
  align-content: center;

  .h3 {
    text-align: center;
    color: #5354F2;
  }
}


.dashboard-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  #profile-pic {
    border-radius: 50%;
    justify-content: center;
    justify-items: center;
  }

  .profile-left {
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 9px;
    padding: 20px;
    margin: 15px;
    height: 420px;
    width: 350px;
    text-align: center;
  }


  .next-booking {
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 9px;
    padding: 20px;
    margin: 15px;
    height: 420px;
    width: 807px;
  }

  .upcoming-bookings {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 9px;
    padding: 15px;
    border-left: 10px #5354F2;
    margin: 0 auto;
    height: 330px;
    width: 630px;

  }

  .result-bookings {

  }

}

#dashboard-subs {
  color: #EC656E;
  text-align: center;
}

.video-advice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .advice {
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 9px;
    padding: 20px;
    margin: 0 auto;
    height: 730px;
    width: 1190px;
    justify-items: center;
  }

}

.dashboard-left {
  display: inline-flex;
  flex-wrap: wrap;
}

.chatroom {
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  padding: 20px;
  margin: 15px;
  height: 850px;
  width: 485px;

}
