// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "landing";
@import "map";
@import "flex";
@import "button";
@import "safety";

@import "dashboard";
@import "scroll";
@import "btn_home";
@import "clinics";
@import "login";
@import "signup";
