.result-heading {
  text-align: center;
  color: #EC656E;
}

.result-subtitle {
  text-align: center;
  color: #5354F2;
}

.result-card {
  font-family: 'Syne';
  box-sizing: border-box;
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  padding: 20px;
  margin-top: 15px;
  margin-left: 400px;
  width: 700px;
  justify-content: center;

  img {
  height: 600px;
  }
}

.result-btn {
  text-decoration: none;
  font-family: 'Syne';
  width: 280px;
  height: 40px;
  background:#EC656E;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
}

.result-btn:hover {
  background: #5354F2;
  color: white;
}
