

<h1>New Timeslot</h1>
<%= simple_form_for [@exam, @timeslot] do |f| %>
  <%= f.input :date, as: :datetime, html5: true  %>
  <%= f.submit "Add Timeslot", class: "btn btn-primary" %>
   <%= link_to "Back to homepage", root_path %>
<% end %>
